/* Start Variables */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --background-color: #ececec;
  --main-transtion: 0.4s;
  --main-padding: 100px;
}
/* End Variables */
/* Start global rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::selection {
  background-color: var(--main-color);
  color: #fff;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Cairo', sans-serif;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #f6f6f6;
  box-shadow: 0 0 10px #ddd inset;
}
::-webkit-scrollbar-thumb {
  background-color: #2195f365;
  border-radius: 10px;
  height: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #2195f3;
}




ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.spechial-heading  {
  text-transform: uppercase;
  padding: 10px 15px;
  border: 2px solid #000;
  width: fit-content;
  margin: 0 auto 80px;
  font-size: 15px;
  position: relative;
  z-index: 1;
}
.spechial-heading:hover {
  border: 2px solid #fff;
  transition-delay: 0.5s;
}
.spechial-heading a {
  color: #000;
  transition: var(--main-transtion);
}
.spechial-heading a:hover {
  color: #fff;
  transition-delay: 0.3s;
}
.spechial-heading::before,
.spechial-heading::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 50%;
  transform: translateY(-50%);
}
.spechial-heading::before {
  left: -30px;
}
.spechial-heading::after {
  right: -30px;
}
.spechial-heading:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.spechial-heading:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
@keyframes left-move {
  50% {
    left: 0;
    width: 10px;
    height: 10px;
  }
  100% {
    border-radius: 0;
    width: 100%;
    height: 100%;
    left: 0;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 10px;
    height: 10px;
  }
  100% {
    border-radius: 0;
    width: 100%;
    height: 100%;
    right: 0;
  }
}
.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, rgb(255, 255, 255) 25%, transparent 25%),
  linear-gradient(225deg, rgb(255, 255, 255) 25%, transparent 25%);;
  background-size: 30px 30px;
}
.dots {
  background-image: url(../img/dots.png);
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
}
.dots-up {
  top: 200px;
  right: 0;
}
.dots-down {
  bottom: 200px;
  left: 0;
}
@media (max-width: 991px) {
  .dots {
    display: none;
  }
}

/* End */
/* start header */
header {
  background: #fff;
  position: relative;
  box-shadow: 0 0 10px #ddd;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
header .logo {
  color: var(--main-color);
  font-weight: bold;
  font-size: 26px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  header .logo {
    width: 100%;
    height: 50px;
  }
}
header  nav > ul{
display: flex;
}
@media (max-width: 767px) {
  header  nav > ul {
    margin: auto;
  }
}
header  nav > ul > li:hover .mega {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
header  nav > ul > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  padding: 0 30px;
  color: #000;
  position: relative;
  transition: var(--main-transtion);
  overflow: hidden;
}

@media (max-width: 767px) {
  header  nav > ul > li > a  {
    padding: 10px;
    font-size: 13px;
    height: 40px;
    margin-left: 18px;
  }
}

header  nav > ul > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transtion);
}
header  nav > ul > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
header  nav > ul > li > a:hover::before {
  left: 0;
}
header .mega {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px; 
  background-color: #fff;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  display: flex;
  gap: 80px;
  top: calc(100% + 50px);
  opacity: 0;
  transition: top var(--main-transtion), opacity var(--main-transtion);
}
@media (max-width: 767px) {
  header .mega {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
header .mega img {
  max-width: 100%;
  width: 400px;
}
@media (max-width: 991px) {
  header .mega img {
    display: none;
  }
}
header .mega .links {
  min-width: 220px;
  flex: 1;
}
header .mega .links li {
  position: relative;
}
header .mega .links li a {
  transition: var(--main-transtion);
}
header .mega .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  header .mega .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
header .mega .links li::before {
content: "";
position: absolute;
left: 0;
top: 0;
width: 0;
height: 100%;
background-color: #fafafa;
z-index: -1;
transition: var(--main-transtion);
}
header .mega .links li:hover::before {
  width: 100%;
}
header .mega .links li a:hover {
  opacity: 0.8;
  transform: translateY(-3px);
  color: var(--main-color-alt);
}
header .mega .links li a {
  color: var(--main-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
header .mega .links li a i {
  margin-right: 10px;
}
/* Start landing */
.landing {
position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}
.landing  .text {
  flex: 1;
}
@media (max-width:991px) {
  .landing  .text{
    text-align: center;
  }
}
.landing  .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
  width: 0;
  white-space: nowrap;
  border-right: 2px solid var(--main-color);
  animation: control-width 3s steps(21) 2s both,
  blink 0.5s infinite;
  overflow: hidden;
}
@keyframes control-width {
  form {
    width: 0;
}
  to {
    width: 430px;
}
}
@keyframes blink {
  from {
    border-right-color: var(--main-color);
  }
  to {
    border-right-color: transparent;
  }
}

@media (max-width:991px) {
  .landing  .text h1 {
    animation: none;
    overflow: visible;
    border: none;
    margin-left: 136px;
  }
}
@media (max-width:767px) {
  .landing  .text h1 {
    font-size: 28px;
    margin-left: 30px;
  }
}
.landing  .text p {
  font-size: 24px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #777;
  max-width: 500px;
}
@media (max-width:991px) {
  .landing  .text p {
    margin: 10px auto;
  }
}
@media (max-width:767px) {
  .landing  .text p {
    font-size: 18px;
  }
}
.landing .image img {
  width: 600px;
  animation: up-down 3s linear infinite;
}
@media (max-width:991px) {
  .landing .image {
    display: none;
  }
}
.landing .go-down {
  position: absolute;
  color: var(--main-color);
  bottom: 30px;
  left: 50%;
  transform: translateY(-50%);
  transition: var(--main-transtion);
}
.landing  .go-down:hover {
  color: var(--main-color-alt);
}
.fa-angle-double-down {
  animation: bouncing 1.5s linear infinite;
transition: var(--main-transtion);
}
/* Start aniumation */
@keyframes up-down {
0% {
  transform: translateY(0);
}
50% {
  transform: translateY(-30px);
}
}
@keyframes bouncing {
  0%, 10%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40%, 60% {
    transform: translateY(-10px);
  }
}
/* Start Articles */
.articles {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .box {
  box-shadow:  0 2px 15px rgba(0 0 0 / 10%);
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}
.articles .box:hover {
  transform: translateY(-10px);
  box-shadow:  0 2px 15px rgba(0 0 0 / 20%);
}
.articles .box img {
  max-width: 100%;

}
.articles .text-box {
  padding: 20px;
}
.articles .text-box h3 {
  font-weight: bold;
  margin: 0;
}
.articles .text-box p {
  margin: 10px 0 0 ;
  line-height: 1.5;
  color: #777;
}
.articles .box  .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.articles .box  .info a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .box  .info i {
  color: var(--main-color);
}
.articles .box:hover .info i {
  animation: move-arrow 0.5s linear infinite;
}
@keyframes move-arrow {
  100% {
    transform: translateX(10px);
  }
}
/* Start Gallery */
.gallery {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: var(--background-color);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .box {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 12px 20px 0px rgba(0 0 0 / 13%),
  0px 2px 4px 0px rgba(0 0 0 / 12%);
}
.gallery .box .imgs {
  position: relative;
  overflow: hidden;
}
.gallery .box .imgs::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255 255 255 / 20%);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
}
.gallery .box .imgs:hover::before {
  animation: flashing 0.7s;
}
@keyframes flashing {
  0%, 40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
.gallery .box img {
  max-width: 100%;
  transition: var(--main-transtion);
}
.gallery .box .imgs:hover img {
  transform: rotate(5deg) scale(1.1);
}
/* Start Features */
.features {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: #fff;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .box {
  text-align: center;
  border: 1px solid #ccc;
}
.features .box .img-holder{
  position: relative;
  overflow: hidden;
}
.features .box .img-holder::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.features .box .img-holder::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 100px 500px;
  border-color: transparent transparent #fff transparent;
  transition: var(--main-transtion);
}
.features .box .img-holder img{
  max-width: 100%;
}
.features .box:hover .img-holder::after {
  border-width: 100px 500px 100px 0px;
}

.features .box h2{
  margin: 30px auto 35px;
  font-weight: bold;
  font-size: 31px;
  position: relative;
  width: fit-content;
}
.features .box h2::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 15px;
  height: 5px;
  width: calc(100% - 30px);
}

.features .box p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  padding: 22px;
  color: #777;

}
.features .box a {
  display: block;
  border: 3px solid transparent;
  padding: 10px 30px;
  width: fit-content;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 7px;
  transition: var(--main-transtion);
}
.features .box:hover a {
  background-position: left bottom;
  color: #fff;
} 
.features .quality .img-holder::before  {
  background-color: rgb(244 64 54 / 60%);
}
.features .quality h2::after {
  background-color: #f44036;
}
.features .quality a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .time .img-holder::before{
  background-color: rgb(0 150 136 / 60%);
}
.features .time h2::after{
  background-color: #009688;
}
.features .time a{
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .passion .img-holder::before{
  background-color: rgb(3 169 244 / 60%);
}
.features .passion h2::after{
  background-color: #03a9f4;
}
.features .passion a{
  color: #03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
/* Start Testimonials */
.testmonials {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: var(--background-color);
}
.testmonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testmonials .box {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0 0 0 / 7%);
  border-radius: 6px;
  position: relative;
}
.testmonials .box img {
  position: absolute;
  right: -10px;
  top: -50px;
  width: 78px;
  border-radius: 50%;
  border: 10px solid var(--background-color);

}
.testmonials .box h3 {
  margin: 5px 0;

}
.testmonials .box .title {
  color: #777;
  font-size: 15px;
  margin: 6px 0 10px;
  display: block;
}
.testmonials .box .rate .filled {
  color: #ffc107;
}
.testmonials .box p {
  line-height: 1.6;
  color: #777;
  margin: 10px 0;
}

/* Start Team Members */
.team {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: #fff;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
.team .box {
  position: relative;
  z-index: 100;
}
.team .box::before,
.team .box::after {
  content: "";
  position: absolute;
  background-color: #f3f3f3;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 10px;
  transition: var(--main-transtion);
}
.team .box::before {
  width: calc(100% - 60px);
  z-index: -2;
}
.team .box::after {
  content: "";
  z-index: -1;
  background-color: #e4e4e4;
  width: 0;
}
.team .box:hover::after {
  width: calc(100% - 60px);
}

.team .box .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.team .box .data img {
  width: calc(100% - 60px);
  transition: var(--main-transtion);
  border-radius: 10px;
}
.team .box:hover img {
  filter: grayscale(100%);
}
.team .box .data .social {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}
.team .box .data .social a {
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team .box .data .social a:hover i {
  color: var(--main-color);
}
.team .box .data .social i {
  color: #777;
  transition: var(--main-transtion);
}
.team .box .info {
  padding-left: 80px;
}
.team .box .info h3 {
  color: var(--main-color);
  margin-bottom: 0;
  margin-top: 11px;
  font-size: 22px;
  transition: var(--main-transtion);
}
.team .box:hover .info h3 {
  color: #777;
}
.team .box .info p {
  margin-top: 10px;
  margin-bottom: 25px;
}
/* Start Services */
.service {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: var(--background-color);
}
.service .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.service .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgba(0 0 0 / 13%), 
  0 2px 4px 0 rgba(0 0 0 / 12%);
  counter-increment: services;
  position: relative;
  transition: var(--main-transtion);
}
.service .box::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 0;
  top: -3px;
  background-color: var(--main-color);
  transition: var(--main-transtion);
}
.service .box:hover {
  transform: translateY(-10px);
}
.service .box:hover::before {
  width: 100%;
}
.service .box i {
  display: block;
  color: #d5d5d5;
  margin: 40px auto 20px;
  text-align: center;
}
.service .box h3 {
  color: var(--main-color);
  text-align: center;
  margin: 12px 0 40px;
  font-size: 25px;
}
.service .box .info {
  padding: 15px;
  position: relative;
  background-color: #f9f9f9;
  text-align: right;
}
.service .box .info::before {
  content: "0" counter(services);
  position: absolute;
  background-color: var(--main-color);
  color: #fff;
  top: 0;
  left: 0;
  height: 100%;
  width: 80px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
}
.service .box .info::after {
  content: "";
  position: absolute;
  background-color: #d5d5d5;
  top: 0;
  left: 80px;
  width: 50px;
  height: 100%;
  transform: skewX(-30deg);
}
.service .box .info a {
  color: var(--main-color);
}
/* Our Skills */
.our-skills {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: #fff;
}
.our-skills .container {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .our-skills img {
    display: none;
  }
}
.our-skills .skills {
  flex: 1;
}
.our-skills .skill h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 17px 0 8px;
}
.our-skills .skill h3 span {
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 3px 5px;
  border-radius: 5px;
  color: var(--main-color);
}
.our-skills .skill .progress {
  height: 30px;
  background-color: #eee;
  position: relative;
}
.our-skills .skill .progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--main-color);
}
/* Start Work Steps */
.work-step {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: var(--background-color);
}
.work-step .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-step .img-work {
  max-width: 100%;
  margin-right: 100px;
}
@media (max-width: 991px) {
  .work-step .img-work {
    margin: 0 0 50px;
  }
  .work-step .container {
    flex-direction: column;
  }
}

.work-step .info .box {
  background-color: #f6f5f5;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  border: 2px solid #fff;
  position: relative;
  z-index: 1;
}
.work-step .info .box::before {
  content: "";
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: #ededed;
  z-index: -1;
  transition: 0.6s;
}
.work-step .info .box:hover::before {
  width: 100%;
  height: 100%;
}

.work-step .info .box img {
  width: 64px;
  margin-right: 30px;
}
@media (max-width: 767px) {
  .work-step .info .box {
    display: block;
    text-align: center;
  }
  .work-step .info .box img {
    width: 70px;
    margin: 0 auto 16px;
  }
  .work-step .img-work {
    display: none;
  }
}
.work-step .info .box  h3 {
  margin: 0;
  font-size: 22px;
}
.work-step .info .box  p {
  margin: 10px 0 0 0;
  color: #777;
  line-height: 1.7;
  font-size: 18px;
}
/* Start Lastest Events */
.event {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: #fff;
}
.event .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.event img {
  max-width: 450px;
}
@media (max-width: 991px) {
  .event img  {
    display: none;
  }
}
.event .info {
  flex: 1;
}
.event .info .time {
  display: flex;
  align-items: center;
  margin: 20px auto;
  gap: 10px;
  justify-content: center;
}
.event .info .time .unit {
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  text-align: center;
  width: 75px;
  transition: var(--main-transtion);
}
.event .info .time .unit span {
  display: block;
}
.event .info .time .unit span:first-child{
  font-size: 35px;
  padding: 15px;
  color: var(--main-color);
  font-weight: bold;
}
.event .info .time .unit span:last-child{
  padding: 8px 10px;
  font-size: 13px;
  border-top:  1px solid #d4d4d4;
  transition: var(--main-transtion);
}
.event .info .time .unit:hover,
.event .info .time .unit:hover span:last-child {
  border-color: var(--main-color);
} 
.event .title {
text-align: center;
  margin: 30px 0;
  font-size: 36px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .event .title {
    font-size: 33px;
  }
}
.event .description {
  line-height: 1.6;
  color: #777;
  font-size: 17px;
  text-align: center;
}
.event .subscribe {
  width: 100%;
  margin-top: 50px;
}
.event .subscribe form {
  width: 600px;
  margin: 20px auto;
  padding: 30px 40px;
  background-color: #f6f5f5;
  border-radius: 50px;
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .event .subscribe form  {
    max-width: 100%;
    padding: 20px;
    flex-direction: column;
    border-radius: 0;
  }
}
.event .subscribe form input[type="email"] {
  padding: 20px;
  border-radius: 50px;
  border: none;
  outline: none;
  flex: 1;
  caret-color: var(--main-color);
}
@media (max-width: 767px) {
  .event .subscribe form input[type="email"] {
    border-radius: 0;
  }
}
.event .subscribe form input[type="email"]::placeholder {
  transition: opacity var(--main-transtion);
}
.event .subscribe form input[type="email"]:focus::placeholder {
  opacity: 0;
}
.event .subscribe form input[type="submit"] {
  border-radius: 50px;
  padding: 9px 12px;
  color: #fff;
  background-color: var(--main-color);
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: var(--main-transtion);
}
@media (max-width: 767px) {
  .event .subscribe form input[type="submit"] {
    border-radius: 0;
  }
}
.event .subscribe form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* Start Pricing */
.price {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: var(--background-color);
}
.price .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.price .box {
  position: relative;
  box-shadow: 0 12px 20px 0 rgba(0 0 0 / 13%),
  0 2px 4px 0 rgba(0 0 0 / 12%);
  transition: var(--main-transtion);
  background-color: #f6f6f6;
  z-index: 1;
  text-align: center;
}
.price .box::before, 
.price .box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  background-color: #fff;
  z-index: -1;
  transition: var(--main-transtion);
}
.price .box::before {
  left: 0;
  top: 0;
}
.price .box::after {
  right: 0;
  bottom: 0;
}
.price .box:hover::before,
.price .box:hover::after {
  width: 100%;
}
@media (min-width: 1200px) {
  .price .box.popular {
    top: -20px;
  }
}
.price .box.popular .label {
  position: absolute;
  writing-mode: vertical-rl;
  background-color: var(--main-color);
  color: #fff;
  font-weight: bold;
  padding: 10px 10px 35px 10px;
  font-size: 18px;
  right: 20px;
  width: 40px;
}
.price .box.popular .label::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 20px;
  border-color: transparent transparent #fff transparent;
}
.price .box .title {
  font-weight: bold;
  margin: 30px 0;
  font-size: 25px;
  letter-spacing: -1px;
}
.price .box img {
  width: 80px;
  margin-bottom: 30px;
}
.price .box .priceing {
  margin-bottom: 20px;
}
.price .box .amount {
  display: block;
  font-size: 60px;
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 5px;
}
.price .box .time {
  color: #777;
}
.price .box ul {
  text-align: left;
}
.price .box ul li {
  padding: 20px;
  border-top: 1px solid #eee;
}
.price .box ul li i {
  margin-right: 6px;
  color: var(--main-color);
}
.price .box a {
  display: block;
  width: fit-content;
  border: 2px solid var(--main-color);
  margin: 30px auto 40px;
  color: var(--main-color);
  padding: 15px 20px;
  border-radius: 6px;
  font-weight: bold;
  transition: var(--main-transtion);
}
.price .box a:hover {
  background-color: var(--main-color-alt);
  color: #fff;
  border: none;
}
/* Start Video */
.videos {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: #fff;
}
.videos .holder {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
  border: 1px solid #ddd;
}
@media (max-width: 991px) {
  .videos .holder {
    flex-direction: column-reverse;
  }
}
.videos .holder .list {
  min-width: 300px;
  background-color: #fff;

}
.videos .holder .list .name {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
  font-weight: bold;
  color: var(--main-color);
}
.videos .holder .list ul li {
  padding: 20px;
  border-top: 1px solid var(--background-color);
  cursor: pointer;
  transition: var(--main-transtion);
  text-transform: capitalize;
}
.videos .holder .list ul li:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
.videos .holder .list ul li span {
  display: block;
  margin-top: 10px;
  color: #777;
}
.videos .holder .preview {
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.videos .holder .preview img {
  max-width: 100%;
}
.videos .holder .preview .info {
  text-transform: capitalize;
  padding: 10px;
  background-color: #fff;
  margin-top: 10px;
}
/* Start Statics */

.static {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-image: url(../img/stats.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 300px;
}
.static::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255 255 255 / 95%);
}
.static h2 {
  width: fit-content;
  font-weight: bold;
  font-size: 40px;
  margin: 0 auto 50px;
  position: relative;
}
.static .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.static .box {
  background-color: #fff;
  padding: 30px 15px;
  text-align: center;
  position: relative;
  opacity: 0.8;
  transition: var(--main-transtion);
}
.static .box:hover {
  opacity: 1;
}
.static .box::before,
.static .box::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--main-color);
  transition: 1s;
  height: 0;
}
.static .box::before {
  top: 0;
  right: 0;
}
.static .box::after {
  bottom: 0;
  left: 0;
}
.static .box:hover::before,
.static .box:hover::after {
  height: 100%;
}
.static .box .number {
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.static .box .text {
  font-style: italic;
  font-weight: bold;
  color: var(--main-color);
}
/* Start Discount */
  .discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }
  .discount .imge {
    background-image: url(../img/discount-background1.jpg);
    background-size: cover;
    color: #fff;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation: change-background 10s linear infinite;
  }
@keyframes change-background {
  0%, 100% {
    background-image: url(../img/discount-background1.jpg);
  }
  50% {
    background-image: url(../img/discount-background2.jpg);
  }
}
  .discount .imge::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23 135 224 / 85%);
    z-index: -1;
  }
@media (max-width: 991px) {
  .discount .imge {
    flex-basis: 100%;
  }
}
  .discount .content {
    text-align: center;
    padding: 0 20px;
  }
  .discount .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
    margin-bottom: 35px;
    margin-top: 15px;
  }
  .discount .content p {
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
  }
  .discount .content img {
    width: 300px;
    max-width: 100%;
  }
  .discount .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
  }
  @media (max-width: 991px) {
    .discount .form {
      flex-basis: 100%;
      margin-top: 50px;
    }
  }
  .discount .form .input {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    caret-color: var(--main-color);
    transition: var(--main-transtion);
  }
  .discount .form textarea.input {
    resize: none;
    height: 200px;
  }

.discount .form .input:focus::placeholder {
  opacity: 0;
  transition: var(--main-transtion);
}
.discount .form .submit {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: var(--main-color);
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border: none;
    margin-bottom: 30px;
    cursor: pointer;
    transition: var(--main-transtion);
}
.discount .form .submit:hover {
  background-color: var(--main-color-alt);
}


/* Start Footer */
footer {
  background-color: #191919;
  padding: 70px 0 0;
}
@media (max-width: 767px) {
  footer {
    text-align: center;
  }
}


footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

footer .box h3 {
  color: #fff;
  font-size: 50px;
  margin: 0 0 20px;
}
footer .box .social {
  display: flex;
}
@media (max-width: 767px) {
  footer .box .social {
    display: flex;
    justify-content: center;
  }
}


footer .box .social li {
  margin-right: 10px;
}
footer .box .social li a {
  background-color: #313131;
  color: #898989;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 22px;
  transition: var(--main-transtion);
  position: relative;
}
footer .box .social .facebook:hover {
  background-color: #1877f2;
  color: #fff;
}
footer .box .social .twitter:hover {
  background-color: #1da1f2;
  color: #fff;
}
footer .box .social .github:hover {
  background-color: #c9510c;
  color: #fff;
}
footer .box .text {
  line-height: 2;
  color: #b9b9b9;
  margin-top: 10px;
}
footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transtion);
}
footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
footer .box .links li:hover {
  padding-left: 10px;
}
footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transtion);
}
footer .box .links li:hover a {
  color: #fff;
}
footer .box .links li a i {
  margin-right: 10px;
  color: var(--main-color);
}
footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}
@media (max-width: 767px) {
  footer .box .line {
    flex-direction: column;
  }
  footer .box .line i {
    margin-bottom: 10px;
  }
}
footer .box .info span {
  display: block;
  margin-bottom: 5px;
}
footer .box .line i .info {
  line-height: 1.7;
  flex: 1;
}
footer .footer-gallery img {
  width: 78px;
  border: 3px solid #fff;
  margin: 2px;
}
footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: #fff;
  margin: 50px 0 0;
  border-top: 1px solid #444;
  font-size: 17px;
}
footer .copyright i {
  color: red;
}
footer .copyright-2 {
  padding: 25px 0;
  text-align: center;
  color: #fff;
} 
/* Arrow to up */
.up {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 5px;
  margin-right: 30px;
  margin-bottom: 20px;
  width: 25px;
  height: 25px;
  text-align: center;
  transition: 0.4s;
  animation-name: up;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  z-index: 100;
}
.up i {
  color: var(--main-color);
  font-size: 30px;
}
@keyframes up {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translatey(5px);
  }
}